.strength-meter {
    display: flex;
    gap: 5px;
    margin-top: 10px;
  }
  
  .strength-meter > div {
    width: 100px;
    height: 14px;
    background-color: gray;
    border-radius: 5px;
  }
  
  .less {
    background-color: red!important;
  }
  
  .medium {
    background-color: yellow!important;
  }
  
  .strong {
    background-color: green!important;
  }